@tailwind base;
@tailwind components;
@tailwind utilities;

.backGroundCoverImage{
    background-image:url('/images/login_bg.jpeg');
    background-size:cover ;
}

.main{
    background-image: url('/images/bg_card1.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 5%;
}

#iframeId{
    border: 1px solid rgb(106, 104, 104);
    margin-top: 20px;
}
